<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value="E:\BaiduNetdiskDownload\测温光纤2"/>
    <add key="PathEnd" value="温度数据.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLServer" connectionString="Server = 192.168.1.231;Database = caist_mk_db;User ID = sa;Password = sasa;Trusted_Connection = False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>