@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/report/echarts/echarts.min.js"))
}

<div id="searchDiv" class="col-sm-12 search-collapse">
    <div class="select-list">
        <ul>
            <li>
                请选择：<span id="roleStatus" col="RoleStatus"></span>
                <select style="height: 28px;" id="xiala">
                    <option value="Voltage" selected="selected">局扇</option>
                </select>
            </li>
            <li class="select-time">
                <label>查询时间： </label>
                <input id="startTime" col="StartTime" type="text" class="time-input" placeholder="开始时间" />
                <span>-</span>
                <input id="endTime" col="EndTime" type="text" class="time-input" placeholder="结束时间" />
            </li>
            <li>
                <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
            </li>
        </ul>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-16">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>局扇记录</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var low_global;
    $(function () {

        $.ajax({
            url: '/DrainagesystemManage/Jushan/GetjushanTempLists',
            type: 'post',
            data: {
                StartDate: "",
                EndDate: ""
            },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function (res) {
                filterData(res);
                initChart();
            }
        });

    });

    function initChart() {

        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var lineoption = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['风扇']
            },
            grid: {
                x: 50,
                x2: 40,
                y2: 24
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    //data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}m/s'
                    }
                }
            ],
            series: [
                {
                    name: '风扇',
                    type: 'line',
                    data: low_global,
                    markPoint: {
                        data: [
                            { value: -2, xAxis: 1, yAxis: -1.5 }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                }
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);
    }

    function filterData(result) {
        low_global = new Array();
        high_global = new Array();
        var res = eval(result);
        var datas = res.Result;
        if (datas != null && datas.length > 0) {
            for (var i = 0; i < datas.length; i++) {
                low_global.push(datas[i].dictValue);
            }
        }
    }
</script>