@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/report/echarts/echarts.min.js"))
}
@*水泵*@
<div id="searchDiv" class="col-sm-12 search-collapse">
    <div class="select-list">
        <ul>
            <li>
                请选择：<span id="roleStatus" col="RoleStatus"></span>
                <select style="height: 28px;" id="xiala">
                    <option value="Voltage" selected="selected">1号压风</option>
                    <option value="Voltage1" selected="selected">2号压风</option>
                    <option value="Voltage2" selected="selected">3号压风</option>
                </select>
            </li>
            <li class="select-time">
                <label>查询时间： </label>
                <input id="startTime" col="StartTime" type="text" class="time-input" placeholder="开始时间" />
                <span>-</span>
                <input id="endTime" col="EndTime" type="text" class="time-input" placeholder="结束时间" />
            </li>
            <li>
                <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
            </li>
            <li>
                <a id="btnSearch" class="btn btn-primary btn-sm" onclick="print()">打印</a>
            </li>
            <li>
                <a class="btn btn-primary btn-sm" asp-action="Export">导出Excel</a></>
            </li>
        </ul>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-16">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>历史压风记录</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-16">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>压风实时记录</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chartr"></div>
                </div>
            </div>
        </div>
    </div>
</div>
   
@*历史数据*@
<script type="text/javascript">

    var high_global;
    $(function () {
        $.ajax({
            url: '/PressurefanManage/Default/GetyafengTempLists',
            type: 'post',
            data: {
                StartDate: "",
                EndDate: ""
            },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function (res) {
                filterData(res);
                initChart();
            }
        });
    });
    @*$(function () {
        initGrid();

        $("#roleStatus").ysComboBox({ data: ys.getJson(@Html.Raw(typeof(Voltage).EnumToDictionaryString())) });

        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd' });
    });*@

    function initChart() {
        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd' });
        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var lineoption = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['压力']
            },
            grid: {
                x: 40,
                x2: 40,
                y2: 24
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: "2020-5-24",
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}ka'
                    }
                }
            ],
            series: [
                {
                    name: '压力',
                    type: 'line',
                    data: high_global,
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);
    }
    function filterData(result) {
        high_global = new Array();
        var res = eval(result);
        var datas = res.Result;
        if (datas != null && datas.length > 0) {
            for (var i = 0; i < datas.length; i++) {
                high_global.push(datas[i].dictValue);
            }
        }
    }
</script>

@*实时数据*@
<script type="text/javascript">
    var high_global;
    $(function () {

        $.ajax({
            url: '/PressurefanManage/Default/GetyafengTempListsr',
            type: 'post',
            data: {
                StartDate: "",
                EndDate: ""
            },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function (res) {
                filterData(res);
                initChartr();
            }
        });

    });

    function initChartr() {

        var lineChart = echarts.init(document.getElementById("echarts-line-chartr"));
        var lineoption = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['压力']
            },
            grid: {
                x: 40,
                x2: 40,
                y2: 24
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}ka'
                    }
                }
            ],
            series: [
                {
                    name: '压力',
                    type: 'line',
                    data: high_global,
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);
    }
    function filterData(result) {
        high_global = new Array();
        var res = eval(result);
        var datas = res.Result;
        if (datas != null && datas.length > 0) {
            for (var i = 0; i < datas.length; i++) {
                high_global.push(datas[i].dictValue);
            }
        }
    }
</script>

