@****************************************************************************************************
*创建人:			Lixz
*创建时间:		2019/5/21 17:59:47
*说明：			 - Section 
*****************************************************************************************************@
@page
@{
    ViewData["Title"] = "分段";
    Layout = "~/Pages/_LayoutList.cshtml";
}

@section scripts{
 <script type="text/javascript">
       $(function () {
        resize();

        $(window).resize(function () { setTimeout(resize, 30) });
        $("#btn_search").on('click', search);
        $("#btn_del").on('click', delRow);
        $("#btn_edit").on('click', editRow);
        $("#btn_add").on('click', addRow);
    });
    function resize() {
        var height = $(window).height();
        height -= $('.filter').outerHeight();
        $('#grid').datagrid('resize', { height: height });
    }
    function search() {
        $('#grid').datagrid('load');
    }
    function delRow() {
        //var row = $('#grid').datagrid('getSelected');
        //if (row) {
        //    site.confirm('确定要删除吗?', function (flag) {
        //        if (flag) {
        //            site.api('/api/Section/delete/' + row['Id'], function () { 
        //                $('#grid').datagrid('reload');
        //            });
        //        }
        //    });
        //}
        //else {
        //    site.msg('请先选中要删除的行', 1);
        //}
        var rows = $('#grid').datagrid('getSelections');
        var da = rows.length > 0 && rows.map(item => {
            let Id = ""
            return {
                Id: item.Id
            }

        })
        if (da.length > 0) {
            site.confirm('确定要删除吗?', function (flag) {
                if (flag) {
                    site.api('/api/Section/DeleteBase/' + da, function () {
                        $('#grid').datagrid('reload');
                    });
                }
            });
        }
        else {
            site.msg('请先选中要删除的行', 1);
        }
    }
    function addRow() {
        site.open({
            fit: true,
            title: '新增' + document.title,
            content: '/Section/Edit',
            end: function(ret){
                $('#grid').datagrid('reload');
            }
        });
    }
    function editRow() {
        var row = $('#grid').datagrid('getSelected');
        if (row) {
            site.open({
                fit: true,
                title: '编辑' + document.title,
                content: '/Section/Edit?id=' + row['Id'], 
                end: function(ret){
                    $('#grid').datagrid('reload');
                }
            });
        }
        else {
            site.msg('请先选中要编辑的行', 1);
        }
    }     
</script>
}
<div class="filter">
    <div class="item">
        <input class="easyui-textbox" id="SectionCode" name="SectionCode" label="分段编号：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <select class="easyui-combobox" id="ProjectId" name="ProjectId" style=" width:100%"
                data-options="
            limitToList:true,
            panelHeight:150,
            label:'工程名称：',
            labelPosition:'left',
            valueField:'Id',
            textField:'ProjectName',
            labelAlign:'right',
            loader:site.loader('/api/ProjectInfo/items')
            "></select>
    </div>
    <div class="item">
        <input class="easyui-textbox" id="Distance" name="Distance" label="分段长度：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <input class="easyui-textbox" id="Location" name="Location" label="地址：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <input class="easyui-textbox" id="State" name="State" label="分段状态：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <input class="easyui-textbox" id="DefaultEquipmentDistance" name="DefaultEquipmentDistance" label="设备间默认距离：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="btn">
        <a id="btn_search" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
        <a id="btn_add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a>
        <a id="btn_edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">编辑</a>
        <a id="btn_del" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
    </div>
</div>
<table id="grid" class="easyui-datagrid" style="width:100%;height:250px"
       data-options="
       loader:site.loader('/api/Section/page', function () { return site.filter('.filter') }),
       rownumbers:true,
       singleSelect:false,
       pageSize:15,
       pageList:[15,20,50,100],
       pagination:true,
       ">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'SectionCode',width:150,sortable:true">
                分段编号
            </th>
            <th data-options="field:'ProjectName',width:150,sortable:true">
                工程名称
            </th>
            <th data-options="field:'Distance',width:60,align:'right',sortable:true">
                分段长度
            </th>
            <th data-options="field:'State',width:60,align:'right',sortable:true">
                分段状态
            </th>
            @*<th data-options="field:'DefaultEquipmentDistance',width:60,align:'right',sortable:true">
                设备间默认距离
            </th>*@
            @*<th data-options="field:'WarningSMS',width:60,align:'right',sortable:true">
                启用预警短信
            </th>*@
            <th data-options="field:'NowSection',width:60,align:'right',sortable:true">
                是否为当前分段
            </th>
            @*<th data-options="field:'Phones',width:150,sortable:true">
                接收短信手机号列表
            </th>
            <th data-options="field:'SysCompanyId',width:150,sortable:true">
                SysCompanyId
            </th>*@
            <th data-options="field:'CreateUser',width:150,sortable:true">
                创建人
            </th>
            <th data-options="field:'CreateTime',width:150,sortable:true,formatter:formatDate">
                创建时间
            </th>
            <th data-options="field:'UpdateUser',width:150,sortable:true">
                修改人
            </th>
            <th data-options="field:'UpdateTime',width:150,sortable:true,formatter:formatDate">
                修改时间
            </th>
            @*<th data-options="field:'Delteted',width:60,align:'center',sortable:true,formatter:formatCheck">
                是否删除
            </th>*@
        </tr>
    </thead>
</table>