@****************************************************************************************************
    *创建人:			Lixz
    *创建时间:		2019/5/21 17:59:47
    *说明：			 - Section
    *****************************************************************************************************@
@page
@{
    ViewData["Title"] = "分段";
    Layout = "~/Pages/_LayoutEdit.cshtml";
}

@section scripts{
    <script type="text/javascript">
        function onClose() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
        function onSave() {
            var data = site.getFormData('.form');
            if (data) {
                site.load('保存中');
                site.api('/api/Section/save', data, function (ret) {
                    site.unload();
                    //alert(JSON.stringify(data));
                    if (!ret.Code) {
                        var url = $(".layui-tab-item.layui-show", window.parent.document).find('iframe').attr("src");
                        $(".layui-tab-item.layui-show", window.parent.document).find('iframe').attr("src", url);
                        onClose();
                    }
                });
            }
        }
@if (Request.Query.ContainsKey("id")) {
<text>
        $(function () {
            site.load('加载中');
            var id = '@Request.Query["id"]';
            site.api('/api/Section/get/' + id, function (ret) {
                site.unload();
                if (!ret.Code) {
                    site.setFormData('.form', ret.Data);
                }
                return true;
            });
        });
</text>
}
    </script>
}
<div class="form">
    <input type="hidden" class="hidden" name="Id" value="">
    <div class="col-xs-6 form-item">
        <input class="easyui-textbox" id="SectionCode" name="SectionCode" style="width:100%" required="required"
               data-options="
                label:'分段编号：',
                labelPosition:'left',
                labelAlign:'right',
            " />
    </div>
    <div class="col-xs-6 form-item">
        <select class="easyui-combobox" id="ProjectID" name="ProjectID" style=" width:100%" required="required"
                data-options="
            limitToList:true,
            panelHeight:150,
            label:'工程名称：',
            labelPosition:'left',
            valueField:'Id',
            textField:'ProjectName',
            labelAlign:'right',
            loader:site.loader('/api/ProjectInfo/items')
            "></select>
    </div>
    <div class="col-xs-6 form-item">
        <input class="easyui-textbox" id="Distance" name="Distance" style="width:100%" required="required"
               data-options="
                label:'分段长度：',
                labelPosition:'left',
                labelAlign:'right',
                validType:'number'
            " />
    </div>
    <div class="col-xs-6 form-item">
        <select class="easyui-combobox" id="State" name="State" style=" width:100%" required="required"
                data-options="
            limitToList:true,
            panelHeight:150,
            label:'分段状态：',
            labelPosition:'left',
            labelAlign:'right'
            ">
            <option value="0">未施工</option>
            <option value="1">施工中</option>
            <option value="2">完工</option>
            <option value="3">停工</option>
        </select>
    </div>
    @*<div class="col-xs-6 form-item">
        <input class="easyui-textbox" id="DefaultEquipmentDistance" name="DefaultEquipmentDistance" style="width:100%"
               data-options="
                label:'设备间默认距离：',
                labelPosition:'left',
                labelAlign:'right',
                validType:'number'
            " />
    </div>*@
    <div class="col-xs-6 form-item">
        <select class="easyui-combobox" id="NowSection" name="NowSection" style=" width:100%"
                data-options="
            limitToList:true,
            panelHeight:150,
            label:'是否为当前分段：',
            labelPosition:'left',
            labelAlign:'right'
            ">
            <option value="0">是</option>
            <option value="1">否</option>
        </select>
    </div>
    @if (Request.Query.ContainsKey("id"))
    {
        <div class="br col-xs-6 form-item">
            <input class="easyui-textbox" id="CreateUser" name="CreateUser" style="width:100%"
                   data-options="
                    disabled:true,
                    label:'创建人：',
                    labelPosition:'left',
                    labelAlign:'right',
                " />
        </div>
        <div class="col-xs-6 form-item">
            <input class="easyui-datebox" id="CreateTime" name="CreateTime" style="width:100%"
                   data-options="
                    disabled:true,
                    label:'创建时间：',
                    labelPosition:'left',
                    labelAlign:'right',
                " />
        </div>
        <div class="col-xs-6 form-item">
            <input class="easyui-textbox" id="UpdateUser" name="UpdateUser" style="width:100%"
                   data-options="
                    disabled:true,
                    label:'修改人：',
                    labelPosition:'left',
                    labelAlign:'right',
                " />
        </div>
        <div class="col-xs-6 form-item">
            <input class="easyui-datebox" id="UpdateTime" name="UpdateTime" style="width:100%"
                   data-options="
                    disabled:true,
                    label:'修改时间：',
                    labelPosition:'left',
                    labelAlign:'right',
                " />
        </div>
    }

    <div class="col-xs-12 form-item" style="margin-top:20px;margin-bottom:10px;">
        <label class="form-title"></label>
        <div class="form-control">
            <a id="btn_save" onclick="onSave()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">保存</a>
            <a id="btn_close" onclick="onClose()" class="easyui-linkbutton" data-options="iconCls:'icon-no'">关闭</a>
        </div>
    </div>
    <div class="br"></div>
</div>
