@page
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        //iframe跳出框架
        if (window != top)
        {
            top.location.href = location.href;
        }
        function GetParamData() {
            var params = {};
            $("input", "#form").each(function () {
                if (this.value) {
                    params[this.name] = this.value;
                }
                else {
                    site.msg('请输入' + this.placeholder, 1);
                    params = null;
                    return false;
                }
            })
            return params;
        }

        function login() {
            $.cookie("Token", "", { expires: -1 });
            $.cookie("UserName", "", { expires: -1 });
            $.cookie("UserID", "", { expires: -1 });
            $.cookie("RoleId", "", { expires: -1 });
            var param = GetParamData();
            if (param) {
                site.load("登陆中");
                $.ajax({
                    type: "get",
                    url: site.BASE_URL + 'api/Auth/Login',
                    data: param,
                    success: function (ret) {
                        site.unload();
                        if (ret) {
                            if (ret.Code === 0) {
                                var data = ret.Data;
                                $.cookie('Token', data.Token, { path: "/", expires: data.Exp });
                                $.each(data.User, function (i) {
                                    this && $.cookie(i, this, { path: "/", expires: data.Exp });
                                })
                                location.href = '/';
                            }
                            else {
                                site.msg(ret.Message);
                            }
                        }
                    },
                    error: function () {
                        site.unload();
                    }
                });
            }


        }



    </script>
}
<link href="~/css/login.css" rel="stylesheet" />
 <div id="login" style="background-image:url('/images/logo.png');background-repeat:no-repeat;background-position:center; width:100%;height:100%">
        <form id="form">
            <div style="background-color:#ffffff;width:380px;position:absolute;top:45%;left:45%;">
                <div style="font-size:16px;">用户名：<input name="username" type="text" placeholder="用户名" /></div>
                <div style="font-size:16px;">密&nbsp;&nbsp;&nbsp;码：<input name="userpwd" type="password" placeholder="密码" id="password" /></div>
                <input value="登录" style="width:300px" type="button" onclick="login()"  autofocus/>
            </div>
            <br />
        </form>
</div>