<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SQLServer" connectionString="Server = 192.168.20.191;Database = caist_mk_db;User ID = sa;Password = Mchy123456;Trusted_Connection = False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--mqt上传数据间隔默认10秒-->
    <add key="Ip" value="192.168.10.8" />
    <add key="key" value="29738498" />
    <add key="pwd" value="t7jLKACOSMTyRvcvC5ZI" />
    <add key="port" value="443" />
    <add key="time" value="5" />

  </appSettings>
</configuration>