@****************************************************************************************************
*创建人:			Lixz
*创建时间:		2019/5/21 17:59:47
*说明：			计算结果 - Calculation 
*****************************************************************************************************@
@page
@{
    ViewData["Title"] = "计算结果";
    Layout = "~/Pages/_LayoutList.cshtml";
}

@section scripts{
 <script type="text/javascript">
       $(function () {
        resize();

        $(window).resize(function () { setTimeout(resize, 30) });
        $("#btn_search").on('click', search);
        $("#btn_del").on('click', delRow);
        $("#btn_edit").on('click', editRow);
        $("#btn_add").on('click', addRow);
    });
    function resize() {
        var height = $(window).height();
        height -= $('.filter').outerHeight();
        $('#grid').datagrid('resize', { height: height });
    }
    function search() {
        $('#grid').datagrid('load');
    }
    function delRow() {
        var row = $('#grid').datagrid('getSelected');
        if (row) {
            site.confirm('确定要删除吗?', function (flag) {
                if (flag) {
                    site.api('/api/Calculation/delete/' + row['Id'], function () { 
                        $('#grid').datagrid('reload');
                    });
                }
            });
        }
        else {
            site.msg('请先选中要删除的行', 1);
        }
    }
    function addRow() {
        site.open({
            fit: true,
            title: '新增' + document.title,
            content: '/Calculation/Edit',
            end: function(ret){
                $('#grid').datagrid('reload');
            }
        });
    }
    function editRow() {
        var row = $('#grid').datagrid('getSelected');
        if (row) {
            site.open({
                fit: true,
                title: '编辑' + document.title,
                content: '/Calculation/Edit?id=' + row['Id'],
                end: function(ret){
                    $('#grid').datagrid('reload');
                }
            });
        }
        else {
            site.msg('请先选中要编辑的行', 1);
        }
    }     
</script>
}
<div class="filter">
    <div class="item">
        <input class="easyui-textbox" id="subject_type" name="subject_type" label="计算科目：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <select class="easyui-combobox" id="CreateId" name="CreateId" style=" width:100%"
            data-options="
            limitToList:true,
            panelHeight:150,
            label:'CreateId：',
            labelPosition:'left',
            labelAlign:'right',
            loader:site.loader('/api/BaseInfo_Dictype/items')
            ">
        </select>
    </div>
    <div class="item">
        <input class="easyui-textbox" id="CreateUser" name="CreateUser" label="CreateUser：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <input class="easyui-datebox" id="CreateTime" name="CreateTime" label="CreateTime：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <select class="easyui-combobox" id="UpdateId" name="UpdateId" style=" width:100%"
            data-options="
            limitToList:true,
            panelHeight:150,
            label:'UpdateId：',
            labelPosition:'left',
            labelAlign:'right',
            loader:site.loader('/api/BaseInfo_Dictype/items')
            ">
        </select>
    </div>
    <div class="item">
        <input class="easyui-textbox" id="UpdateUser" name="UpdateUser" label="修改人用户名：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <input class="easyui-datebox" id="UpdateTime" name="UpdateTime" label="修改时间：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    <div class="item">
        <input class="easyui-textbox" id="Delteted" name="Delteted" label="是否删除：" labelPosition="left" labelAlign="right" style="width:100%" />
    </div>
    
    <div class="btn">
        <a id="btn_search" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
        <a id="btn_add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a>
        <a id="btn_edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">编辑</a>
        <a id="btn_del" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
    </div>
</div>
<table id="grid" class="easyui-datagrid" style="width:100%;height:250px"
       data-options="
       loader:site.loader('/api/Calculation/page', function () { return site.filter('.filter') }),
       rownumbers:true,
       singleSelect:true,
       pageSize:30,
       pagination:true,
       ">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'subject_type',width:60,align:'right',sortable:true">
                计算科目
            </th>
            <th data-options="field:'CreateUser',width:150,sortable:true">
                CreateUser
            </th>
            <th data-options="field:'CreateTime',width:150,sortable:true,formatter:formatDate">
                CreateTime
            </th>
            <th data-options="field:'UpdateUser',width:150,sortable:true">
                修改人用户名
            </th>
            <th data-options="field:'UpdateTime',width:150,sortable:true,formatter:formatDate">
                修改时间
            </th>
            <th data-options="field:'Delteted',width:60,align:'center',sortable:true,formatter:formatCheck">
                是否删除
            </th>
        </tr>
    </thead>
</table>