<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2000000000">
          </requestLimits>
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Caist.Framework.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
  <system.webServer>
    <!--支持模型文件的下载-->
    <staticContent>
      <mimeMap fileExtension=".fbx" mimeType="application/octet-stream" />
    </staticContent>
    <!--支持跨域请求-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,Content-Type" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <!--请求模型资源需要开启目录浏览模式-->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: f74c6ad0-d4f0-47c4-a474-749ba4cf493d-->