@****************************************************************************************************
    *创建人:			sty
    *创建时间:		2019/6/26
    *说明：			 - GisInfo
    *****************************************************************************************************@
@page
@{
    ViewData["Title"] = "GisInfo";
    Layout = "~/Pages/_LayoutEdit.cshtml";
}

@section scripts{
    <script type="text/javascript">
        function onClose() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
        function onSave() {
            var data = site.getFormData('.form');
            if (data) {
                site.load('保存中');
                site.api('/api/GisInfo/save', data, function (ret) {
                    site.unload();
                    //alert(JSON.stringify(data));
                    if (!ret.Code) {
                        var url = $(".layui-tab-item.layui-show", window.parent.document).find('iframe').attr("src");
                        $(".layui-tab-item.layui-show", window.parent.document).find('iframe').attr("src", url);
                        onClose();
                    }
                });
            }
        }
@if (Request.Query.ContainsKey("id")) {
<text>
        $(function () {
            site.load('加载中');
            var id = '@Request.Query["id"]';
            site.api('/api/GisInfo/get/' + id, function (ret) {
                site.unload();
                if (!ret.Code) {
                    site.setFormData('.form', ret.Data);
                }
                return true;
            });
        });
</text>
}
    </script>
}
    <div class="form">
        <input type="hidden" class="hidden" name="Id" value="">
        <div class="col-xs-6 form-item">
            <input class="easyui-textbox" id="CoordinateName" name="CoordinateName" style="width:50%"
                   data-options="
                label:'坐标系统名：',
                labelPosition:'left',
                labelAlign:'right',
            " />
        </div>
        <div class="col-xs-6 form-item">
            <input class="easyui-textbox" id="place_name" name="place_name" style="width:50%"
                   data-options="
                label:'地点：',
                labelPosition:'left',
                labelAlign:'right',
            " />
        </div>
        <div class="col-xs-6 form-item">
            <input class="easyui-textbox" id="frame_x" name="frame_x" style="width:50%"
                   data-options="
                label:'参照点X：',
                labelPosition:'left',
                labelAlign:'right',
            " />
        </div>
        <div class="col-xs-6 form-item">
            <input class="easyui-textbox" id="frame_y" name="frame_y" style="width:50%"
                   data-options="
                label:'参照点Y：',
                labelPosition:'left',
                labelAlign:'right',
            " />
        </div>
        <div class="col-xs-6 form-item">
            <input class="easyui-textbox" id="frame_z" name="frame_z" style="width:50%"
                   data-options="
                label:'参照点Z：',
                labelPosition:'left',
                labelAlign:'right',
            " />
        </div>
        @if (Request.Query.ContainsKey("id"))
        {
        }

        <div class="col-xs-12 form-item" style="margin-top:20px;margin-bottom:10px;">
            <label class="form-title"></label>
            <div class="form-control">
                <a id="btn_save" onclick="onSave()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">保存</a>
                <a id="btn_close" onclick="onClose()" class="easyui-linkbutton" data-options="iconCls:'icon-no'">关闭</a>
            </div>
        </div>
        <div class="br"></div>
    </div>
