<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="plcData" connectionString="Server=192.168.1.230;Port=3306;Database=mkauto;Uid=root;Pwd=root;charset=utf8" />-->
    <add name="plcData" connectionString="Server=192.168.1.235;Port=3306;Database=mk_collert;Uid=root;Pwd=root;charset=utf8" />
  </connectionStrings>
  <appSettings>
    <add key="DBS" value="1,2"/>
    <!--<add key="RedisDB" value="192.168.0.104"/>-->
    <add key="RedisDB" value="127.0.0.1"/>
    <!--<add key="JsonPath" value="../../ServerIpTables.json"/>-->
    <add key="TextPath" value="../../ServerIpTables.txt"/>
    <add key="RedisKeyPart" value="煤矿设备:"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>